<h1>ログイン</h1>
<%= form_for :session, url: login_path do |f| %>
  <p>
    <%= f.label :email, 'メールアドレス:' %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password, 'パスワード:' %>
    <%= f.password_field :password %>
  </p>
  <%= f.submit 'ログイン' %>
<% end %>
<%= link_to 'トップに戻る', root_path %>