<%= stylesheet_link_tag 'home' %>

<section class="sec">
  <div class="date">
    <div class="day"><%= @date %></div>
    <div class="clock">
      <span class="hour"></span>
      <span class="coron"> : </span>
      <span class="min"></span>
    </div>
  </div>
  <div class="comment">
    <p class="greet"><%= @greet %></p>
    <p class="text"><%= @text %></p>
  </div>
</section>

<div class="img-wrapper">
  <%= image_tag 'home-img-2', class: 'img-2' %>
  <div class="open-modal mission" data-target="mission-modal">
    <%= image_tag 'mission-icon.png', class: 'mission-btn-img' %>
    <%= render './appear' %>
  </div>
  <%= image_tag 'home-img-1', class: 'img-1' %>
</div>

<div id="mission-modal" class="modal-area">
  <div class="modal-bg"></div>
  <div class="modal-wrapper mission-modal">
    <div class="modal-content">
      <div class="mission-title">MISSION</div>
      <div class="close-modal mission-close">×</div>
      <div class="mission-list-wrapper">
        <div class="mission-list">
          <span class="mission-text">健康観察をしよう！</span>
          <div id="mission-btn1">
            <%= link_to btn_str(1), {controller: 'missions', action: 'create', number: 1, reward_type: 'point', reward: 1, dayly: true}, method: :post, remote: true, class: "get-btn #{'disabled non-get' unless btn_str(1) == 'GET!'}" %>
          </div>
        </div>
        <div class="mission-list">
          <span class="mission-text">項目チェックをしよう！</span>
          <div id="mission-btn2">
            <%= link_to btn_str(2), {controller: 'missions', action: 'create', number: 2, reward_type: 'point', reward: get_point, dayly: true}, method: :post, remote: true, class: "get-btn #{'disabled non-get' unless btn_str(2) == 'GET!'}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>