<%= stylesheet_link_tag 'home' %>

<div class="open-modal mission" data-target="mission-modal">
  <%= image_tag 'mission-icon.png', class: 'mission-btn-img' %>
  <%= render './appear' %>
</div>

<div id="mission-modal" class="modal-area">
  <div class="modal-bg"></div>
  <div class="modal-wrapper mission-modal">
    <div class="modal-content">
      <div class="mission-title">MISSION</div>
      <div class="close-modal mission-close">×</div>
      <div class="mission-list-wrapper">
        <div class="mission-list">
          <span class="mission-text">健康観察をしよう！</span>
          <div id="mission-btn1">
            <%= link_to btn_str(1), {controller: 'missions', action: 'create', number: 1, reward_type: 'point', reward: 1, dayly: true}, method: :post, remote: true, class: "get-btn #{'disabled non-get' unless btn_str(1) == 'GET!'}" %>
          </div>
        </div>
        <div class="mission-list">
          <span class="mission-text">項目チェックをしよう！</span>
          <div id="mission-btn2">
            <%= link_to btn_str(2), {controller: 'missions', action: 'create', number: 2, reward_type: 'point', reward: get_point, dayly: true}, method: :post, remote: true, class: "get-btn #{'disabled non-get' unless btn_str(2) == 'GET!'}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>