<%= stylesheet_link_tag 'top' %>

<%= image_tag 'top-1.png', class: 'top-img' %>
<section class="sec-1">
  <p class="strong">コロナ予防を習慣化、それがコロピタ</p>
  <p>日頃の行動を可視化し、ポイントを貯める。<br>毎日の目標で効率的に習慣化します。</p>
</section>

<h3 class="show-title">機能紹介</h3>
<%= image_tag 'top-2.png', class: 'top-img' %>
<%= image_tag 'top-3.png', class: 'top-img' %>
<%= image_tag 'top-4.png', class: 'top-img' %>
