<%= stylesheet_link_tag 'user_form' %>

<h2 class="form-title">新規登録</h2>
<%= form_for @user, html: {class: 'user_form'} do |f| %>
  <div class="form-item">
    <%= f.text_field :name, {placeholder: "ニックネーム(８文字以内)", maxlength: 8, class: 'form-field js-name-field'} %>
    <div class="error-msg js-name-error"></div>
  </div>
  <div class="form-item">
    <%= f.text_field :email, placeholder: "メールアドレス", class: 'form-field js-mail-field' %>
    <div class="error-msg js-mail-error"></div>
  </div>
  <div class="form-item">
    <%= f.password_field :password, placeholder: "パスワード", class: 'form-field js-password-field' %>
    <div class="error-msg js-password-error"></div>
  </div>
  <div class="form-item">  
    <%= f.password_field :password_confirmation, placeholder: "パスワード(確認)", class: 'form-field js-conf-field' %>
    <div class="error-msg js-conf-error"></div>
  </div>
  <%= f.submit '登録する', class: 'form-btn js-form-btn' %>
<% end %>
<div class="form-footer">
  <%= link_to 'トップに戻る', root_path %>
  <p>アカウントをお持ちの方はこちら</p>
  <%= link_to 'ログイン', login_path %>
</div>