<h2>アイテムリスト</h2>
<div class="wrap-item-disp">
  <% @items.each do |i| %>
    <div class="item-item-disp open-modal" data-target="have-modal<%= i.id %>"><%= image_tag i.path %></div>
  <% end %>
</div>

<%= link_to 'ゲームページに戻る', games_path, remote: true %>

<% @items.each do |i| %>
  <div id="have-modal<%= i.id %>" class="modal-area">
    <div class="modal-bg"></div>
    <div class="modal-wrapper">
      <div class="modal-content">
        <h2 class="item-name"><%= i.name %></h2>
        <%= image_tag i.path, class: 'item-img' %>
        <p><%= i.explanation %></p>
        <p>所持数：<%= @num.find_by(item_master_id: i.id).num %>個</p>
      </div>
      <div class="close-modal">閉じる</div>
    </div>
  </div>
<% end %>