<%= stylesheet_link_tag 'game_top' %>

<h2 class="game-title">ミニゲーム</h2>

<%= link_to 'ガチャ', gacha_path, class: 'game-link' %>
<%= link_to 'アイテム合成', mix_path, class: 'game-link' %>
<%= link_to 'アイテム一覧', have_path, class: 'game-link' %>
<%= link_to 'アイテム図鑑', list_path, class: 'game-link' %>