<h2 class="check-base_title check-title">項目チェック</h2>
<%= form_for @check, html: {class: 'check-base_form check_form'} do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="check-text">CHECK LIST</div>
  <div class="check-check-wrapper">
    <% @check_list.each do |list| %>
      <div class="check-base_cl">
        <label class="check-base_cl-label">
          <%= f.check_box :achieve, {multiple: true, class: 'input-hidden check-base_cl-input'}, @check_list.index(list) + 1, nil %>
          <span class="check-base_cl-dummy"></span>
          <span class="check-base_cl-text"><%= list %></span>
        </label>
      </div>
    <% end %>
  </div>
  <%= f.submit '記録', class: 'check-base_btn check-btn' %>
<% end %>