<div class="link-footer-container">
  <ul class="link-footer">
    <li class="footer-item">
      <%= link_to image_tag('home-icon.png', class: 'link-img'), root_path %>
      <span class="link-text">ホーム</span>
    </li>
    <li class="footer-item">
      <%= link_to image_tag('health-icon.png', class: 'link-img'), new_temperature_path %>
      <span class="link-text">健康観察</span>
    </li>
    <li class="footer-item">
      <%= link_to image_tag('check-icon.png', class: 'link-img'), new_check_path %>
      <span class="link-text">チェック</span>
    </li>
    <li class="footer-item">
      <%= link_to image_tag('report-icon.png', class: 'link-img'), temperatures_path %>
      <span class="link-text">レポート</span>
    </li>
    <li class="footer-item">
      <%= link_to image_tag('game-icon.png', class: 'link-img'), games_path %>
      <span class="link-text">ミニゲーム</span>
    </li>
  </ul>
</div>