<!DOCTYPE html>
<html>
  <head>
    <title>KakenApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'android-touch-icon', sizes: '192x192', type: 'image/png' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render './users_header' %>
    <% else %>
      <%= render './top_header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
