<!DOCTYPE html>
<html>
  <head>
    <title>コロピタ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <%= stylesheet_link_tag 'users_header' %>
      <%= stylesheet_link_tag 'link_footer' %>
    <% else %>
      <%= stylesheet_link_tag 'top_header' %>
    <% end %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'android-touch-icon', sizes: '192x192', type: 'image/png' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render './users_header' %>
    <% else %>
      <%= render './top_header' %>
    <% end %>
    
    <%= yield %>
    
    <% if logged_in? %>
      <%= render './footer_menu' %>
    <% end %>
  </body>
</html>
